@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;padding: 0;
    transition: all .2s linear;
    color: #fff;
}

.container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(../images/bg2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.container h1 {
    font-size: 3rem;
}

.container p {
    font-size: 1rem;
}

.container button {
    padding: 0.5rem 6rem;
    background-color: #681c86;
    border-radius: 4px 8px;
    border: 0.1rem solid #53166b;
    font-size: 1rem;
}

.container button:hover {
    padding: 0.5rem 7rem;
    border-radius: 8px 4px;
    background-color: #53166b;
    border: 0.1rem solid #681c86;
    cursor: pointer;
}