@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Lato", sans-serif;
}

body {
    height: 100vh;
    background-image: url(https://smdi.abimaq.org.br/src/images/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn {
    border-radius: 8px 0 8px 0 !important;
}